/* General CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #562F1B;
    background-color: #F5F5DC;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFACD;
    color: white;
    z-index: 1000; /* Ensure the header is on top of other elements */
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 100%; /* Set width to 100% to scale with the screen size */
    max-width: 200px; /* Optional: Set a maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}



#features {
    margin-top: 100px; /* Add margin-top to ensure content is not hidden behind the fixed header */
    padding: 2em 0;
}

.feature {
    margin-bottom: 1.5em;
}

#signup {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #FFFACD; /* Signup background color */
    color: white;
    z-index: 1000; /* Ensure the signup is on top of other elements */
    padding: 1em 0;
   
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #562F1B;
    border: none;
    color: #FFFACD;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-shadow: #333;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }

footer {
    padding: 2em 0;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 50px; /* To provide space for the fixed signup section */
}