.divider {
    border: none;
    height: 1px;
    background: #444;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

header {
    background: #333;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
    position: relative;
    display: inline-block;
}

header h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; /* Adjust as needed to position the underline */
    width: 100%;
    height: 5px; /* Thickness of the underline */
    background-color: #212121;
    z-index: -2;
}

header p {
    font-size: 1.2em;
}

header .cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #e8491d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

header .cta-button:hover {
    background: #c7381a;
}

section {
    padding: 60px 0;
    text-align: center;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

section h2::after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: -5px; /* Adjust as needed to position the underline */
    width: 110%;
    height: 4px; /* Thickness of the underline */
    background-color: #333;
    z-index: -1;
}

section h3 {
    font-size: 1em;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
}

section h3::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px; /* Adjust as needed to position the underline */
    width: 100%;
    height: 1px; /* Thickness of the underline */
    background-color: #333;
    z-index: -1;
}

.feature {
    margin: 20px 0;
}

form {
    margin-top: 20px;
}

form input[type="email"] {
    padding: 10px;
    width: 70%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background: #e8491d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #c7381a;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Taken from uiverse */
.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #212121;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #212121;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid #fefefe;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }
.social-card {
    margin-top: 30px;
    left: 5px;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 2;
}

.BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
    font-size: 0px;
}

.github .BG {
    background: #181818;
}

.linkdin .BG {
    background: #0077b5;
}

.whatsapp .BG {
    background: #075e54;
}

.discord .BG {
    background: #7289da;
}

.Btn:hover .BG {
    transform: scale(1.5);
    /* transform-origin: bottom; */
    font-size: 20px;
    color: #333;
}

.Btn:hover .svgContainer {
    border: 0px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(209, 209, 209, 0.466);
    backdrop-filter: blur(4px);
}

/* Add the following code to hide the border until hover */
.Btn .BG {
    border: none;
}

  